/* Founders Grotesk */
@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-SemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("./founders-grotesk/FoundersGrotesk-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* GT America - keeping for backward compatibility */
@font-face {
  font-family: "GT America";
  src: url("./gt-america/gt-america-regular.woff") format("woff"),
    url("./gt-america/gt-america-retular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("./gt-america/gt-america-medium.woff") format("woff"),
    url("./gt-america/gt-america-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("./gt-america/gt-america-bold.woff") format("woff"),
    url("./gt-america/gt-america-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* PP Neue Montreal */
@font-face {
  font-family: "PP Neue Montreal";
  src: url("./pp-neue-montreal/ppneuemontreal-thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./pp-neue-montreal/ppneuemontreal-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./pp-neue-montreal/ppneuemontreal-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./pp-neue-montreal/ppneuemontreal-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./pp-neue-montreal/ppneuemontreal-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("./pp-neue-montreal/ppneuemontreal-semibolditalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Halyard Text */
@font-face {
  font-family: "Halyard Text";
  src: url("./halyard-text/fonnts.com-Halyard_Text_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Text";
  src: url("./halyard-text/fonnts.com-Halyard_Text_Light_Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Text";
  src: url("./halyard-text/fonnts.com-Halyard_Text_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Text";
  src: url("./halyard-text/fonnts.com-Halyard_Text_Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Text";
  src: url("./halyard-text/fonnts.com-Halyard_Text_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Text";
  src: url("./halyard-text/fonnts.com-Halyard_Text_Medium_Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Text";
  src: url("./halyard-text/fonnts.com-Halyard_Text_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Text";
  src: url("./halyard-text/fonnts.com-Halyard_Text_Bold_Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Halyard Display */
@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_ExtraLight_Italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Light_Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Book.otf") format("opentype");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Book_Italic.otf") format("opentype");
  font-weight: 350;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Medium_Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_SemiBold_Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Bold_Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Halyard Display";
  src: url("./halyard-display/fonnts.com-Halyard_Display_Black_Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* PP Neue Montreal Mono */
@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("./pp-neue-montreal-mono/pp-neue-montreal-mono-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("./pp-neue-montreal-mono/pp-neue-montreal-mono-book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("./pp-neue-montreal-mono/pp-neue-montreal-mono-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
